[submodule "lib/BME280_driver"]
	path = lib/BME280_driver
	url = https://github.com/boschsensortec/BME280_driver.git
[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	branch = V10.6.1